$primary:#40BFFF;
$broad-daylight: #bcddfe; //footer bg 
$white:#FFFFFF;
$lynx-white: #f6f7f8; // stroke 
$black-russian: #22262a;
$nero: #262626;
$navy-trim: #223263;// card text color
$moon-veil: #9098b1; // ceil text color
$wild-watermelon: #fb7181;